MAKESWIFT_SITE_API_KEY=a9d35788-03a4-40b4-9772-19f09e3ac777

BIGCOMMERCE_STORE_HASH=store-5edoidmxt5
BIGCOMMERCE_STOREFRONT_TOKEN=t2fjif8rmhhl6npt85jhgto5ywq8rt4

BIGCOMMERCE_CHANNEL_ID=1
ENABLE_ADMIN_ROUTE=true